// ion-content{
//     --background: linear-gradient(180deg rgb(97, 228, 178), rgb(41, 129, 157)); 
// }

.form{
    position: relative;
    border: 1px solid rgba(255, 255,255, 0.3);
    top: 15%;
    
}

