<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eliminar contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ultimo">
    <h2>¿Quieres Borrar el ultimo Contacto?</h2>
    <ion-button color="danger" (click)="contactoService.deleteContactoUltimo()">Borrar Ultimo</ion-button>
  </div>
  <div class="primero">
    <h2>¿Quieres Borrar el primer Contacto?</h2>
    <ion-button color="danger" (click)="contactoService.deleteContactoPrimero()">Borrar Primero</ion-button>
  </div>
</ion-content>
